<!DOCTYPE>
<html>
<body>
<script src="/js/loginCheck.js"></script>
<section id="footer" style="background-color:#292b34;">
        <div class="container">
            <center style="color:#fff;">
            <div class="container">
                <div class="well well-sm main-footer"  style="background-image: url('../source/artist-header.png');">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <p style="font-size: 16px">
                                    © Copyright by Binglin Xie
                                </p>
                            </div><!--end .row-->
                        </div><!--end .col-md-12-->
                    </div><!--end .row-->
                </div><!--end .well .well-sm .main-footer-->
            </div><!--end .container-->
            </center>
        </div><!--end .container-->
    </section><!--end #footer-->
</body>
</html>